@import '../sass/mixins';
.loader {
  user-select: none;
  & h2,
  & p,
  & span,
  &__img,
  &__img_rover {
    @include loader("loading");
  }
  &__img {
    width: 100%;
    height: 260px;
  }
  &__img_rover {
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  & span {
    font-size: 2rem;
    font-weight: bold;
    animation: rotate 2s ease-in-out infinite alternate;
    animation-delay: 0s;
    &:nth-child(even) {
      animation-delay: 1s;
    }
  }
}

@keyframes rotate {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(180deg); }
}

@keyframes loading {
  0% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}
