.rover {
  flex-direction: column;

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    max-width: 500px;
    margin: 0 auto;

    & button {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
    }

    & span {
      font-family: var(--font-primary);
      font-weight: 500;
    }
  }
}
